.about-main {
  @apply gap-8 w-full py-1 px-1;
  display: grid;
  grid-template-columns: 0fr 1fr;
}

.sidebar {
}

.sidebar-links {
  @apply tracking-wide capitalize flex flex-col items-center justify-center gap-1 cursor-pointer;
}

.sidebar-links-icon {
  @apply flex justify-center text-base;
}

.sidebar-links-text {
  @apply flex justify-center text-[0.7rem];
}

.modeBtn {
}
.icons {
  @apply text-darkTextGold;
}

.zodiac-card {
  @apply rounded-md tracking-wide text-start p-8 w-full;
   
}

.zodiac-about-title  {
@apply text-2xl capitalize;
}

.zodiac-p {
}

@media (max-width: 768px) {
  .about-main {
    grid-template-columns: 1fr;
  }

  .zodiac-card {
    
  }
  .sidebar-nav {
  @apply  fixed -left-6;
    
  }

  .zodiac-about-title  {
@apply text-xl;
}

.zodiac-p {
@apply text-[0.9rem];
}
}
