.star {
  background: #fff;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background: #fff;
}

@keyframes twinkling {
  0% {
    background: linear-gradient(transparent, transparent 70%, #000 70%, #000);
  }
  50% {
    background: linear-gradient(transparent, transparent 70%, #000 70%, #000);
  }
  100% {
    background: linear-gradient(transparent, transparent 70%, #000 70%, #000);
  }
}

@keyframes twinkle {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/*
@keyframes animMovingStar {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(-2000px);
    }
}




*/

.comet {
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  animation: cometAnimation 5s linear forwards;
}

@keyframes cometAnimation {
  0% {
    transform: translate(0, 0);
    opacity: 1;
    stroke-dashoffset: -227.62;
  }
  100% {
    stroke-dashoffset: -227.62;
    transform: translate(40vw, 60vh);
    opacity: 0;
  }
}

@keyframes dash {
  to {
    stroke-dashoffset: -227.62;
  }
}

@keyframes animMovingStar {
  0% {
    top: 98.8%;
  }
  100% {
    top: 0;
  }
}
