.loader {
    @apply border-babyBlue;
  width: 70px;
  height: 35px;
  border: 1px solid white;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  background: #020B1D;
  opacity: 0.2;
  
  
  
  /* transform: rotate(45deg) skew(20deg);
  perspective: 1000px; */
}

.loader-1 {
    animation: rotation 4s linear infinite;
    box-shadow: 0 0 2px #0ff;
}

.loader-3 {
    width: 30px;
    height:30px;
    animation: fastRotation .8s linear infinite;
}

.loader-2 {
    animation: oppositeRotation 14s linear infinite;
}

.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  background: black;
  width: 16px;
  height: 16px;
  transform: translate(-50%, 50%);

  border-radius: 50%;
}

/* Add animation for the glow effect */
@keyframes glowing {
  0% {
      box-shadow: 0 0 10px #00f;
  }
  50% {
      box-shadow: 0 0 20px #00f, 0 0 30px #00f, 0 0 40px #00f;
  }
  100% {
      box-shadow: 0 0 10px #00f;
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
    box-shadow: 0 0 10px #1E1E2A;
  }

  50% {
    box-shadow: 0 0 20px #1E1E2A, 0 0 30px #00f, 0 0 40px #00f;
}

  100% {
    transform: rotate(360deg);
    box-shadow: 0 0 10px #00f;
  }
}

@keyframes oppositeRotation {
    0% {
      transform: rotate(360deg);
    }
  
    100% {
      transform: rotate(0deg);
    }
  }

  @keyframes fastRotation {
    0% {
      transform: rotate(360deg);
    }
    50% {
        height: 25px;
    }
  
    100% {
      transform: rotate(0deg);
    }
  }
