.loader {
    @apply border-babyBlue;
  width: 100px;
  height: 50px;
  border: 1px solid white;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  background: #020B1D;
  opacity: 0.2;
  
  
  
  /* transform: rotate(45deg) skew(20deg);
  perspective: 1000px; */
}

.loader-1 {
    animation: rotation 4s linear infinite;
    box-shadow: 1px 1px 1px 2px #0ff;
}

.loader-3 {
    width: 50px;
    height:50px;
    animation: fastRotation .8s linear infinite;
}

.loader-2 {
    animation: oppositeRotation 14s linear infinite;
}

.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  background: black;
  width: 16px;
  height: 16px;
  transform: translate(-50%, 50%);

  border-radius: 50%;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes oppositeRotation {
    0% {
      transform: rotate(360deg);
    }
  
    100% {
      transform: rotate(0deg);
    }
  }

  @keyframes fastRotation {
    0% {
      transform: rotate(360deg);
    }
    50% {
        height: 25px;
    }
  
    100% {
      transform: rotate(0deg);
    }
  }
