.const-body {
  @apply flex flex-col items-center gap-3  h-fit
   text-lightBlue2 cursor-pointer
   p-0 hover:text-yellow md:gap-1 h-fit;
}

.constelation {
  @apply w-[2.6rem] h-[2.6rem] md:w-[2.5rem] md:h-[2.5rem];
}

.constelation path {
  @apply fill-lightBlue1;
  opacity: 0.76;
}

.const-title {
  @apply text-[0.5rem] md:text-[0.6rem];
  letter-spacing: 0.05rem;
  font-weight: 400;
}

.const-date {
  @apply font-thin p-[0.07rem] text-[0.44rem] 
  md:text-[0.6rem] md:p-0;
  letter-spacing: 0.03rem;
}

/* DESKTOP VERSIONS */

.horoscope-board-desktop {
  @apply md:flex md:w-full  md:flex-col md:items-center md:col-span-2 md:row-span-3;
}

/* ///// */

.zodiac-title {
  font-family: "Oleo Script", cursive;
}

.zodiac-prediction {
  letter-spacing: 0.04rem;
  font-weight: 300;
  opacity: 0.8;
}


@media (max-width: 1000px) {

  .main-grid {
    width: 90%;
  }

  .zodiac-prediction {
    font-size: 0.95rem;
  }
}