

.const-body {
  @apply flex flex-col items-center justify-between gap-4
   text-lightBlue cursor-pointer
   p-0 hover:text-yellow;
   height: fit-content;
}

.constelation {
  width: 2.6rem;
  height: 2.6rem;
}

.constelation path {
  @apply fill-lightBlue1;
}

.const-title {
  font-size: 0.5rem;
  letter-spacing: 0.05rem;
  font-weight: 400;
}

.const-date {
  @apply text-lightBlue1 font-thin p-[0.07rem];
  font-size: 0.44rem;
  letter-spacing: 0.03rem;
}

/* DESKTOP VERSIONS */

.horoscope-board-desktop {
  @apply md:flex md:w-full  md:flex-col md:items-center md:col-span-2 md:row-span-3;
}

/* ///// */

.pisces {
}

.zodiac-title {
  font-family: "Oleo Script", cursive;
}

.zodiac-prediction {
  letter-spacing: 0.026rem;
  font-weight: 300;
  opacity: 0.8;
}
