

::-webkit-scrollbar {
  width: 0.3rem; /* THIS WILL RESET THE DEFAULT SCORLLBAR STYLING */
  height: 0.3rem;
}

/* TO STYLE THE SCROLLBAR THUMB */
::-webkit-scrollbar-thumb {
  @apply bg-lightBlue2;
  border-radius: 1vw;
}

.zodiacBtnMain {
  @apply  cursor-pointer;
}

.body-prediction .header-present {
    @apply bg-darkOverlay;
}

.body-prediction .header {
  @apply fixed right-5;

}

.body-prediction .nav-button {
  @apply translate-x-3 ;
}

.body-prediction .header {
  @apply z-30;
}

.body-prediction .nav-items{
  @apply text-lightYellow;

}
#body-prediction .zodiac-list-cont {
  @apply bg-darkZodLisCont ;
}

#body-prediction .top {
  @apply bg-darkGold;
}

#body-prediction .middle {
  @apply bg-darkGold;
}

#body-prediction .bottom {
  @apply bg-darkGold;
}


.const-body {
  @apply flex flex-col items-center gap-3  h-fit
   text-lightBlue1 cursor-pointer
   p-0 md:gap-1;
}

.constelation {
  @apply w-[2.6rem] h-[2.6rem] 
  md:w-[2.5rem] md:h-[2.5rem];
}

.constelation path {
  @apply fill-lightBlue1;
  opacity: 0.76;
}

.constelation-disable path {
  opacity: 0.56;
}

.const-title {
  @apply uppercase text-[0.7rem] md:text-[0.6rem];
  letter-spacing: 0.05rem;
  text-shadow: 0 0 2vw rgba(255, 255, 255, 0.8);
}

.const-date {
  @apply font-thin p-[0.03rem] text-[0.66rem] 
  md:text-[0.6rem] md:p-0;
  letter-spacing: 0.03rem;
}

/* DESKTOP VERSIONS */

/*NAVIGATION MENU*/

.zod-btn {
  width: 100%;
  justify-content: center;
  padding: 0.5rem;
}

/* ///// */

.zodiac-title {
  @apply text-[2.4rem] md:text-[2.7rem];
  font-family: "Oleo Script", cursive;
  background-image: linear-gradient(
    90deg,
    hsla(48, 50%, 49%, 1) 22%,
    hsla(48, 97%, 73%, 1) 50%,
    hsla(48, 56%, 53%, 1) 79%
  );
  text-shadow: 0 0 2vw rgba(255, 255, 255, 0.1);
  -webkit-background-clip: text; /* For webkit-based browsers like Chrome and Safari */
  background-clip: text;
  color: transparent; /* Make the text transparent so the gradient background shows through */
}

.zodiac-prediction {
  @apply text-textLightGold;
  letter-spacing: 0.04rem;
  font-weight: 400;
}

.horoscope-btn-container {
  @apply py-2;
  font-family: "Inter Tight", sans-serif;
}

.horoscope-board-btn-active {
  @apply text-[#b0993b];
}

.horoscope-board-btn {
  @apply rounded-md text-textLightGold py-[0.3rem]  px-3;
  box-shadow: rgba(252, 218, 84, 0.15) 1.3px 1.4px 2.4px;
}

.horoscope-board-btn:hover {
  box-shadow: 0 0 6px rgba(99, 99, 99, 0.7);
}


.horoscope-board-btn:active {
  border-color: #ffeea1;
  box-shadow: 0 0 6px #456788;
}

.animation-container {
  @apply mt-10;
}

@media (max-width: 1000px) {
  .main-grid {
    width: 90%;
    display: flex;
    flex-direction: column;
  }


  .constelation {
    @apply w-[3.4rem] h-[3.4rem];
  }
}

/* TABLET LAYOUT */

@media (max-width: 768px) {
  .horoscope-board {
    @apply mb-8 mt-3;
  }

  .horoscope-board-btn {
    @apply text-[.95rem];
  }

  .zodiac-prediction-container {
    @apply flex justify-center h-[8rem];
  }

  .zodiac-prediction {
    @apply text-[.95rem] px-2;
    display: flex;
    flex-grow: 1; /* Allow the container to grow and take available space */
    /* Add borders or styling as needed */
    overflow-y: auto; /* Add scrollbars if the content overflows */
  }

  .horoscope-btn-container {
    @apply text-[.95rem];
  }
}

@media (max-width: 700px) {
  .zodiac-prediction-container {
    @apply flex justify-center h-[10rem];
  }
}

@media (max-width: 500px) {
  .const-body-container-start {
    @apply justify-start;
  }
  .const-body-container-end {
    @apply justify-end;
  }

  .const-title {
    @apply text-[0.6rem];
  }

  .const-date {
    @apply p-[0.05rem] text-[0.6rem];
  }

  .zodiac-title {
    text-align: start;
  }

  .zodiac-prediction {
    text-align: start;
    padding: 0;
    display: flex;
  }

  .animation-container {
    @apply -mt-4;
  }

  .horoscope-btn-container {
    justify-content: start;
    white-space: nowrap;
    transition: transform 0.3s ease; /* Smooth sliding transition */
    overflow: auto;
  }

  .scroll-button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }

  .animation-container {
    @apply mt-10;
  }
}

@media(max-width: 313px) {
  .zodiac-title {
    line-height: 3rem;
  }
}

@media(max-width: 290px) {
  .body-prediction {
    min-width: 290px;
  }
}
